/* the ruby/furigana for some fonts floats very high above the text.
   position:relative allows it to be moved;
   in anki 2.0, top 30px moves the top down
   in anki 2.1 transform:translateY(70%) moves it down, too
   ... pretty sure that doesn't work in anki 2.0
   if using other fonts, or sizes, needs to be adjusted.
 */
ruby rt {
    font-size: 30%;
    position: relative;
/*   top: 30px;*/
    transform:translateY(70%);
}

.android ruby rt {
    transform:translateY(20%);
}

/* not sure if this actually does anything or if i'm cargo culting
 */
ruby rb {
    line-height: 1em;
}



/* on my cards currently, background is chosen by javascript. 
   if i realize javascript is bad later, can restore to here. */
.card {
    font-family: Noto Sans CJK JP Regular;
    font-size: 50px;
    text-align: center;
    color: black;
/*    background: url("_testbg1.jpg");*/
    background-attachment: fixed;
    background-position: center;
    position: relative;
    background-image: inherit;
}

#qa {
    background: inherit;
}


/* blurring the background doesn't work in qt 4.whatever.
   anki 2.1 or whatever will be using qt5.whatever, and then it's fine.
   */
.blurred-bg {
    width: 90%;
    margin: 10px auto;
    overflow: hidden;
    background: inherit;
    border-radius: 10px;
    z-index: 0;
    position: relative;
}

.blurred-bg:after{
    content: '';
    background: inherit;
    display: block;
    width: 150%;
    height: 150%;
    position: absolute;
    left: -25%;
    top: -25%;
    filter: blur(10px);
    z-index: -1;
}

.frontbg, .backbg {
    z-index: 2;
}

/*partial transparency!*/
.frontbg {
    background-color: rgba(0,0,0,0.55);
    color: rgba(255,255,255,.9);
    padding-top: 0px;
    padding-bottom: 15px;
}

.backbg {
    background-color: rgba(255,255,255,.85);
    padding: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgba(0,0,0,.9);
    font-size: 28px;
}

/*i'd like to make a whiteboard section with a box to draw kanji in,
  in the case that i get my shit together enough to have a desktop
  tablet whiteboard or get all the plugins working on ankidroid.
 */


/*changes hint based on maturity of the card.*/
/*i have a plugin that changes this automatically when answering card.*/
.mature {
    visibility: hidden;
}

.young span {
    visibility: hidden;
}

.young:hover span {
    visibility: visible;
}

.new {
    visibility: visible;
}

/*styling for individual fields*/

.key {
    font-size: 45px;
}

/* in the field used for the prompt, the target kanji is wrapped up in <span class='target'></span>
 * so on the front of the card, the target is hidden; on the back, visible
 * */
.key .target{
    visibility: hidden;
}

#whiteboard-container{
	cursor: crosshair;
	padding: 0;
	height: 150px;
}

.backbg #whiteboard-container {
	margin-left: -30px; /* kind of a hack... */
}

.prompt {
}

.engkeyword {
    font-size: 20px;
}

.android .engkeyword {
    font-size: 15px;
}

.jpnkeyword {
    font-size: 50px;
}

.android .jpnkeyword {
    font-size: 40px;
}

.kanji {
    font-size: 80px;
}

.android .kanji {
    font-size: 50px;
}

/*want to make this be a randomish selection of handwriting fonts*/
/*this would require probably moving some of it to front/back, and js*/
.neat {
    font-family:'SanafonMugiV2.60';
    font-size: 80px;
}

.android .neat {
    display: none;
}

.cute {
    font-family:ChihayaGothic;
    font-size: 80px;
}

.android .cute {
    display: none;
}

.messy {
    font-family:ArmedBanana;
    font-size: 90px;
}

.android .messy {
    display: none;
}

.strokeorder{
    font-size: 110px;
    font-family:KanjiStrokeOrders, myfont;
}

.android .strokeorder {
    font-size: 150px;
}



.examples {
    font-size: 35px;
}

.android .examples {
    font-size: 30px;
}

.engmeanings {
    font-size: 15px;
}

.android .engmeanings {
    font-size: 10px;
}

/*catch-all for the little info fields that are interesting but not necessary*/
.details {
    font-size: 8px;
    color: grey;
}


/*horizontal rule*/
hr {
    height: 1px;
    font-size: 15px;
    border: 0;
    background: light grey;
}


/*dotted underlines, if you use underline.*/
u {
    text-decoration: none;
    border-bottom: 1px dotted;
}

/*makes handwriting font work on android, if KanjiStrokeOrders.....tff is in your media folder.*/
@font-face { font-family: myfont; src: url('_KanjiStrokeOrders_v4.001.ttf'); }


