/* the ruby/furigana for some fonts floats very high above the text.
   position:relative allows it to be moved; top 30px moves the top down
   which makes it appear comfortably above the Noto font in a large size.
   if using other fonts, or sizes, needs to be adjusted.
   having said that... it's maybe only true for 2.0 anki.
 */
ruby rt {
    font-size: 30%;
    position: relative;
/*   top: 30px;*/
    transform:translateY(60%);
}
ruby rb {
    line-height: 1em;
}



/* on my cards currently, background is chosen by javascript. 
   if i realize javascript is bad later, can restore to here. */
.card {
    font-family: Noto Sans CJK JP Regular;
    font-size: 50px;
    text-align: center;
    color: black;
/*    background: url("_testbg1.jpg");*/
    background-attachment: fixed;
    background-position: center;
    position: relative;
    background-image: inherit;
}

#qa {
    background: inherit;
}
    
    
/* blurring the background doesn't work in qt 4.whatever.
   anki 2.1 or whatever will be using qt5.whatever, and then it's fine.
   except i tried anki 2.1 beta, and it doesn't do anything yet. further research needed.
   leaving it for now; this also causes the rounded corners to work nicely.*/
.blurred-bg {
    width: 90%;
    margin: 10px auto;
    overflow: hidden;
    background: inherit;
    border-radius: 10px;
    z-index: 0;
    position: relative;
}

/*experimenting to get blurring to work in 2.1.*/
.blurred-bg:after{
    content: '';
    background: inherit;
    display: block;
    width: 150%;
    height: 150%;
    position: absolute;
    left: -25%;
    top: -25%;
    filter: blur(10px);
    z-index: -1;
}

.frontbg, .backbg {
    z-index: 2;
}

/*partial transparency!*/
.frontbg {
    background-color: rgba(0,0,0,0.55);
    color: rgba(255,255,255,.9);
    padding-top: 0px;
    padding-bottom: 15px;
}

.backbg {
    background-color: rgba(255,255,255,.85);
    padding: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgba(0,0,0,.9);
    font-size: 28px;
}

/*i'd like to make a whiteboard section with a box to draw kanji in,
  in the case that i get my shit together enough to have a desktop
  tablet whiteboard or get all the plugins working on ankidroid.
 */


/*changes hint based on maturity of the card.*/
/*i have a plugin that changes this automatically when answering card.*/
.mature {
    visibility: hidden;
}

.young span {
    visibility: hidden;
}

.young:hover span {
    visibility: visible;
}

.new {
    visibility: visible;
}

/*styling for individual fields*/
.prompt {}

.engkeyword {
    font-size: 20px;
}

.jpnkeyword {
    font-size: 60px;
}
.kanji {
    font-size: 80px;
}

/*want to make this be a randomish selection of handwriting fonts*/
/*this would require probably moving some of it to front/back, and js*/
.neat {
    font-family:'SanafonMugiV2.60';
    font-size: 100px;
}

.cute {
    font-family:ChihayaGothic;
    font-size: 100px;
}

.messy {
    font-family:ArmedBanana;
    font-size:110px;
}

.strokeorder{
    font-size: 120px;
    font-family:KanjiStrokeOrders, myfont;
}



.examples {
    font-size: 40px;
}

.engmeanings {
    font-size: 15px;
}

/*catch-all for the little info fields that are interesting but not necessary*/
.details {
    font-size: 8px;
    color: grey;
}


/*horizontal rule*/
hr {
    height: 1px;
    font-size: 15px;
    border: 0;
    background: light grey;
}


/*dotted underlines, if you use underline.*/
u {
    text-decoration: none;
    border-bottom: 1px dotted;
}

/*makes handwriting font work on android, if KanjiStrokeOrders.....tff is in your media folder.*/
@font-face { font-family: myfont; src: url('_KanjiStrokeOrders_v4.001.ttf'); }


